<div class="template">
  <div class="drawer">
    <input id="sidebar" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="w-full navbar bg-base-300">
        <div class="flex-none lg:hidden">
          <label for="sidebar" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          </label>
        </div>
        <div class="flex-1 px-2 mx-2">Rick And Morty</div>
        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            <li><a data-testid="characters" routerLink="/">Characters</a></li>
            <li><a data-testid="episodes" routerLink="/episodes">Episodes</a></li>
            <li><a data-testid="locations" routerLink="/locations">Locations</a></li>
          </ul>
        </div>
      </div>
      <app-spinner [showSpinner]="generalStore.isLoading()"></app-spinner>
      <router-outlet></router-outlet>
    </div>
    <div class="drawer-side">
      <label for="sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200">
        <!-- Sidebar content here -->
        <li><a data-testid="characters" routerLink="/" >Characters</a></li>
        <li><a data-testid="episodes" routerLink="/episodes">Episodes</a></li>
        <li><a data-testid="locations" routerLink="/locations">Locations</a></li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>
